[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
xlrd = "*"
pandas = "*"
openpyxl = "*"
geopy = "==2.2.0"
folium = "*"
tkintermapview = "==1.11"
future = "==0.18.3"
numpy = "==1.22.4"
networkx = "*"
matplotlib = "*"
python-bidi = "*"
arabic-reshaper = "*"

[dev-packages]

[requires]
python_version = "3.10"
